@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Light'), local('Helvetica-Neue-Roman'),
    url('HelveticaNeueCyr-Light.woff') format('woff2'),
    url('HelveticaNeueCyr-Light.woff2') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
    url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
    url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('HelveticaNeueCyr-Bold.woff') format('woff'),
    url('HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended Regular';
  src: local('Monument Extended Ultralight'),
    local('Monument-Extended-Ultralight'),
    url('MonumentExtended-Ultralight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended Bold';
  src: local('Monument Extended Bold'), local('Monument-Extended-Bold'),
    url('MonumentExtended-Ultrabold.otf') format('openType');
  font-weight: 700;
  font-style: normal;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}
